/lecture_source/
/DL_review/data/
/DL_review/07-transfer_learning/dataset/
/NLP_basic/data/
/NLP_basic/02-tokenization/data/
/NLP_basic/08-word_embedding/fastText/
/NLP_basic/09-text_classification/FastText_classification/data/
